*{
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Helvetica Neue";
  box-sizing: border-box;
}

/* Global Variables */
:root{
  --primary-color: #072132;
  --secondary-color: #790b0c;
  --tertiary-color: #748494;
  --gold-color: #FFb81C;

  --primary-font:"Roboto serif";

  --hero-title: 60px;
  --title-font:34px;
  --subTitle-font:24px;
  --body-font:20px;
  --small-font:16px;
  --tiny-font:12px;

  --primary-radius:10px;
  --secondary-radius:20px;
  --tertiary-radius:40px;
  --button-radius:5px;

  --primary-transition: all 0.3s ease-in-out;
  --secondary-transition: all 0.5s ease-in-out;
  --tertiary-transition: all 0.15s ease-in-out;

  --animation-transition: 0.5s ease-in-out infinite;
  --loading-transition:1s linear infinite;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: #072132;
  border-radius: 100px;
}

::-webkit-scrollbar-track {
  background-color: var(--secondary-color);
  border-radius: 100px;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type=number]::-moz-number-spinner {
    display: none;
}